/* ---------
    Reset
--------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------
    Common
--------- */

body {
    font-family:'Roboto', sans-serif;
}

/* ---------
    Header
--------- */

header {
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    padding: 15px;
    color: #ffff;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #ffff;
}

.logo {
    display: flex;
    align-items: center;
}

#logo-boolando {
    width: 20%;
}

/* ---------
    Main
--------- */

.main-container {
    width: 30%;
    position: relative;
    margin: 0 220px;
}

section {
    display: flex;
    justify-content: space-between;
}

.image-box {
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    position: relative;
    box-sizing: border-box;
}

.image-box2 {
    width: 300px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    position: relative;
    box-sizing: border-box;
}

.box1 {
    background-image: url(../img/1.webp);
    margin-right: 30px;
}

.box2 {
    background-image: url(../img/2.webp);
    margin-right: 30px;
}

.box3 {
    background-image: url(../img/3.webp);
}

.box4 {
    background-image: url(../img/4.webp);
    margin-right: 30px;
}

.box5 {
    background-image: url(../img/5.webp);
    margin-right: 30px;
}

.box6 {
    background-image: url(../img/6.webp);
    margin-right: 30px;
}

.preferiti {
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    right: 0%;
    top: 20px;
    background-color: white;
    font-size: 30px;
    padding-top: 8px;
}

.sconto {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 45px;

}

.focus {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 45px;
    left: 55px;
}

.focus6 {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 20px;
    text-align: center;
    position: absolute;
    bottom: 45px;
}

.descrizione {
    font-weight: bolder;
}

span {
    color: #ff0000;
    font-weight: bold;
}

#prezzo-iniziale {
    text-decoration: line-through;
    font-weight: lighter;
    color: black;
    margin-left: 20px;
}



